<p style="color: green"><%= notice %></p>

<%= render @outfit_product %>

<div>
  <%= link_to "Edit this outfit product", edit_outfit_product_path(@outfit_product) %> |
  <%= link_to "Back to outfit products", outfit_products_path %>

  <%= button_to "Destroy this outfit product", @outfit_product, method: :delete %>
</div>
